<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebContent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>    
  </welcome-file-list>
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>nathan</param-value>
  </context-param>
  <servlet>
  		<servlet-name>ConfigServlet</servlet-name>
  		<servlet-class>com.nseit.servlet.ConfigServlet</servlet-class>
  		<init-param>
  			<param-name>num1</param-name>
  			<param-value>
  				100
  			</param-value>
  		</init-param>
  		<init-param>
  			<param-name>num2</param-name>
  			<param-value>
  				2000
  			</param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConfigServlet</servlet-name>
  	<url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
</web-app>